html {background-color: black;}
div {
    width: 50%;
    margin-left: 25%;
    }
h1 {
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin: 50px;
    }            
img {
    border: 5px solid white;
    width: 100%;
    margin: 70px;
    }
p {
    color: white;
    text-align: center;
    margin: 50px;
    }              